AuthType Basic
AuthName "Utilise.ca"
AuthUserFile /home/exomel/public/utilise.ca/auth/.htpasswd
Require valid-user

RewriteEngine On
RewriteCond %{HTTP_HOST} ([a-z-\.]+)\.utilise\.ca$
RewriteRule ^$ /%1/index.html [L]

ErrorDocument 404 /404.html
