---
layout: master
section: profil
---
<article>
    <section class="entete groupe">
      <span class="image"><img src="{{ site.canonical_url }}/img/portraits/{{ page.slug }}.jpg" alt="{{ page.nom | xml_escape }}" /></span>
      <h1>{{ page.nom }}</h1>
      <strong>{{ page.titre }}</strong>
      <time pubdate datetime="{{ page.date | date:"%Y-%m-%d"}}">{{ page.date | date:'%Y-%m-%d' }}</time>
    </section>
    <section class="contenu">
    {{content}}
    </section>
    {% if page.license %}
    <section class="license">
      <p>Cette personne a choisi de publier son entrevue sous une license différente de celle du site : {{ page.license }}.<p>
    </section>
    {% endif %}
</article>
