---
layout: master
section: profil
---
<article>
    <section class="entete groupe">
      <span class="image"><img src="{{ site.url }}/img/portraits/{{ page.slug }}.jpg" alt="{{ page.nom | xml_escape }}" /></span>
      <h1>{{ page.nom }}</h1>
      <strong>{{ page.titre }}</strong>
      <time pubdate datetime="{{ page.date | date:"%Y-%m-%d"}}">{{ page.date | date:'%e %B %Y' }}</time>
    </section>
    <section class="contenu">
    {{content}}
    </section>
</article>
{% comment %} vim: set et ts=2 sts=2 sw=2 fdm=marker fenc=utf-8 ft=liquid: {% endcomment %}
